<nav class="navegar">
  <ul>
    <li><a href="#">Realizar pago</a></li>
    <li><a href="#">Ver transacción</a></li>
    <li><a href="#">Ver transacción</a></li>
  </ul>
</nav>
<div class="principal">
  <div class="contenedor-formulario-tarjeta">

    <div class="vista-previa-tarjeta" [class.flip]="showBack">
      <div class="frente-de-tarjeta">
        <div class="detalles-de-tarjeta">
          <p class="numero-de-tarjeta">{{ form.get('cardNumber')?.value || 'XXXX XXXX XXXX XXXX' }}</p>
          <p class="titular-de-tarjeta">{{ form.get('cardholderName')?.value || 'Titular de la tarjeta' }}</p>
          <p class="fecha-de-expiracion">{{ form.get('expirationMonth')?.value || 'MM' }} / {{
            form.get('expirationYear')?.value || 'YY' }}</p>
        </div>
      </div>
      <div class="detras-de-tarjeta">
        <div class="magnetic-strip"></div>
        <div class="barra">
          <span class="cvv">{{ form.get('cvv')?.value || 'CVV' }}</span>
        </div>
      </div>
    </div>
    <div class="contenedor-formulario" [formGroup]="form">
      <h1>Formulario de pago</h1>
      <mat-form-field appearance="fill">
        <mat-label>Monto</mat-label>
        <input matInput formControlName="amount">
        <mat-error *ngIf="form.get('amount')?.touched && form.get('amount')?.invalid">
          {{ getErrorMessage('amount') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          {{ getErrorMessage('email') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Número de tarjeta</mat-label>
        <input matInput formControlName="cardNumber">
        <mat-error *ngIf="form.get('cardNumber')?.touched && form.get('cardNumber')?.invalid">
          {{ getErrorMessage('cardNumber') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CVV</mat-label>
        <input matInput formControlName="cvv" (focus)="showCardBack()" (blur)="showCardFront()">
        <mat-error *ngIf="form.get('cvv')?.touched && form.get('cvv')?.invalid">
          {{ getErrorMessage('cvv') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Titular de la tarjeta</mat-label>
        <input matInput formControlName="cardholderName">
        <mat-error *ngIf="form.get('cardholderName')?.touched && form.get('cardholderName')?.invalid">
          {{ getErrorMessage('cardholderName') }}
        </mat-error>
      </mat-form-field>

      <div class="fecha-expiracion-inputs">
        <mat-form-field appearance="fill">
          <mat-label>Mes de expiración</mat-label>
          <input matInput formControlName="expirationMonth" placeholder="MM">
          <mat-error *ngIf="form.get('expirationMonth')?.touched && form.get('expirationMonth')?.invalid">
            {{ getErrorMessage('expirationMonth') }}
          </mat-error>
        </mat-form-field>
        <span>/</span>
        <mat-form-field appearance="fill">
          <mat-label>Año de expiración</mat-label>
          <input matInput formControlName="expirationYear" placeholder="YY">
          <mat-error *ngIf="form.get('expirationYear')?.touched && form.get('expirationYear')?.invalid">
            {{ getErrorMessage('expirationYear') }}
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="enviarValores()" [disabled]="form.invalid">
        Realizar pago
      </button>
    </div>
  </div>
</div>